@model Author


<form method="post">

    @if (Model != null && Model.Id != 0)
        {
            <input asp-for="Id" hidden />

        }
        <div class="mb-3">

        <label asp-for="FirstName"></label>

        <input asp-for="FirstName"
               class="form-control" />

        <span asp-validation-for="FirstName"
              class="text-danger"></span>

    </div>


    <div class="mb-3">

        <label asp-for="LastName"></label>

        <input asp-for="LastName"
               class="form-control" />

    </div>


    <div class="mb-3">

        <label asp-for="DateOfBirth"></label>

        <input asp-for="DateOfBirth"
               class="form-control" />

    </div>


    <div class="mb-3">

        <label asp-for="Nationality"></label>

        <input asp-for="Nationality"
               class="form-control" />

    </div>


    <div class="mb-3">

        <label asp-for="Biography"></label>

        <textarea asp-for="Biography"
               class="form-control" ></textarea>

    </div>


    <button type="submit" class="btn btn-success">
        Save
    </button>


    <a asp-action="Index" class="btn btn-secondary">
        Back
    </a>


</form>